services:
  php:
    build:
      context: .
      dockerfile: ./infrastructure/docker/${TARGET_STAGE:-dev}/php/Dockerfile
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
        TARGET_STAGE: ${TARGET_STAGE:-dev}
        PECL_MODULES_ENABLED: "xdebug"
    env_file:
      - ./src/.env
    container_name: php-fpm
    environment:
      - XDEBUG_MODE="debug,develop,coverage"
      - XDEBUG_SESSION=1
      - COMPOSER_ALLOW_SUPERUSER=1
      - ELASTICSEARCH_MEMORY=512m
    volumes:
      - ./src:/var/www/html/portfolio-app
      - ./infrastructure/docker/${TARGET_STAGE:-dev}/php/docker-php-ext-xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
    ports:
      - "9000:9000"
    networks:
      - portfolio
    depends_on:
      elasticsearch:
        condition: service_healthy
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "php-fpm -t && pidof php-fpm"]
      interval: 30s
      timeout: 10s
      retries: 5
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./src:/var/www/html/portfolio-app
      - ./src/vendor:/var/www/html/portfolio-app/vendor
      - ./infrastructure/docker/${TARGET_STAGE:-dev}/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - portfolio
    depends_on:
      php:
        condition: service_healthy
  db:
    image: mysql:8.0
    container_name: mysql-laravel
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravelpassword
    ports:
      - "${DB_PORT:-3306}:3306"
    command: --default-authentication-plugin=mysql_native_password --log-bin-trust-function-creators=1
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "--password=123456"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s    
    networks:
      - portfolio
  elasticsearch:
    image: elasticsearch:9.1.5
    container_name: elasticsearch
    environment:
      - xpack.security.enabled=false
      - xpack.security.http.ssl.enabled=false
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
      - indices.id_field_data.enabled=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: 1g
    ports:
      - "${ES_PORT:-9200}:9200"
    volumes:
      - ./infrastructure/docker/${TARGET_STAGE:-dev}/elasticsearch/elasticsearch.yml:/etc/elasticsearch/elasticsearch.yml
      - es_data:/usr/share/elasticsearch/data
    healthcheck:
      test: ["CMD-SHELL", "curl -fsSL http://localhost:9200/_cluster/health || exit 1"]
      interval: 10s
      timeout: 10s
      retries: 5
    networks:
      - portfolio
volumes:
  db_data:
  es_data:
    driver: local
networks:
  portfolio:
    driver: bridge
    name: portfolio_network
